APP_NAME=app-clinica
APP_ENV=development
TZ=America/Argentina/Buenos_Aires
GHCR_OWNER=your-github-user-or-org
BACKEND_IMAGE_TAG=latest
FRONTEND_IMAGE_TAG=latest
WEB_HOST=app.tudominio.com
API_HOST=api.tudominio.com

DATABASE_URL=postgresql+psycopg://app_clinica:app_clinica@db:5432/app_clinica
POSTGRES_DB=app_clinica
POSTGRES_USER=app_clinica
POSTGRES_PASSWORD=app_clinica
POSTGRES_PORT=5432

JWT_SECRET=change_me_super_secret
JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7
BCRYPT_ROUNDS=12

COOKIE_SECURE=false
COOKIE_SAMESITE=lax
CORS_ORIGINS=http://localhost:5173

BACKEND_PORT=8000
FRONTEND_PORT=5173
VITE_API_BASE_URL=http://localhost:8000/api/v1
